* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(#d7d7d7, #c7c7c7);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100%;
  height: auto;
  overflow: auto;
  border: 3px solid green;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 60px; /* Height of the footer section */
  background-color: #ffffff;
  opacity: 0.8;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#navbar ul {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  list-style-type: none;
  color: white;
}

#navbar ul li a {
  text-decoration: none;
  margin-right: 3em;
  padding: 0.5em;
  background-color: #ffffff;
  color: #000000 !important;
  border-radius: 20px;
  padding-right: 1em !important;
  padding-left: 1em !important;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  height: 100vh;
}

main div {
  /* width: 50%; */
  flex: 1;
}

main #rightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main #rightbox img {
  size: auto;
  width: 70%;
  margin-top: 1em;
  border-radius: 20%;
  opacity: 0.8;
}

main #leftbox #heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

main #leftbox #heading h2 {
  border: 3px solid #000000;
  padding: 0.5em 1em;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 20px 20px 50px grey;
}

main #leftbox #iconwrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

main #leftbox #iconwrap img {
  width: 100px;
  height: 100px;
  margin-right: 3em;
  margin-bottom: 1em;
}
